#fa__mylogins {
   margin-left: 20px;
}

#fedauth__manager h2 {
    margin-left: 0;
}

#fedauth__manager form {
    display: block;
    margin: 0;
    padding: 0;
}

#fa__mylogins legend,
#fedauth__manager legend {
    display: none;
}

#fa__mylogins fieldset,
#fedauth__manager fieldset {
    width: auto;
}

#fedauth__manager .button {
    margin: 0;
}

#fedauth__manager p,
#fedauth__manager label {
    text-align: left;
}

#fedauth__manager .hidden {
    display: none;
}

/* IE won't understand but doesn't require it */
#fedauth__manager input[disabled] {
    color: #ccc;
    border-color: #ccc;
}

#fedauth__manager .lprovs,
#fedauth__manager .sprovs {
    margin-left: 0;
    text-align: left;
}

#fa__mylogins fieldset,
#fedauth__manager .lprovs fieldset,
#fedauth__manager .sprovs fieldset {
    color: #000;
    background: #fff;
    text-align: right;
    border-top: none;
    border-right: none;
    border-left: none;
}

#fa__mylogins fieldset.even,
#fedauth__manager fieldset.even {
    background: #eee;
}

#fedauth__manager fieldset.disabled,
#fedauth__manager fieldset.disabledeven {
    background: #ffecec;
}

#fedauth__manager fieldset.disabled label,
#fedauth__manager fieldset.disabledeven label {
    color: #55555;
    opacity: 0.7;
}
#fedauth__manager fieldset.disabled label img,
#fedauth__manager fieldset.disabledeven label img {
/*    opacity: .7; -> this kills image display under Opera */
    filter: alpha(opacity=70);
}

#fa__mylogins .legend,
#fedauth__manager .lprovs .legend,
#fedauth__manager .sprovs .legend {
    background: inherit;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 16px;
    font-weight: normal;
    text-align: left;
    float: left;
    padding: 0;
    clear: none;
    verical-align:middle;
}

#fa__mylogins .inuse,
#fedauth__manager .legend .disabled {
    font-size: 0.6em;
    opacity: 0.7;
    font-style: italic;
    padding: 0px 0px 2px 10px;
}

#fa__mylogins .inuse {
    font-weight: bold;
    color: #e00;
}

#fa__mylogins .lastused {
    color: #555;
    font-size: 0.7em;
    font-weight: bold;
}

#fedauth__manager .legend .disabled {
    color: #555;
}

#fedauth__manager .lprovs .enable,
#fedauth__manager .sprovs .enable {
    margin-top: 2px;
    float: left;
    width: auto;
}

#fa__mylogins .legend div,
#fedauth__manager .details {
    padding: 5px 5px 0px;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #555;
}

#fa__mylogins .legend div {
    margin-left: 16px;
}

#fedauth__manager .details {
    margin-left: 31px;
}

#fedauth__manager .details {
    display: none;
}

#fedauth__manager .imgdetails {
    background-color: #fff;
    border: solid 1px #888;
    padding: 3px;
    border-radius: 3px;
    margin: 3px 0px;
    vertical-align: middle;
}

#fedauth__manager .lprovs fieldset.buttons,
#fedauth__manager .sprovs fieldset.buttons {
    border: none;
}

#fedauth__manager .lprovs fieldset.buttons .button,
#fedauth__manager .sprovs fieldset.buttons .button {
    float: left;
}

#fa__mylogins .floatimg {
    margin: 0px 5px 0px 0px;
    float: left;
}

#fedauth__manager .floatimg {
    margin: 0px 5px 0px 15px;
    float: left;
}

#fa__authform {
    text-align: left;
    margin-left: 20px;
}

#fa__authform fieldset {
    border: none;
    width: auto;
    padding: 2px 0px;
    margin: 0px;
    margin-left: 20px;
    text-align: left;
}

#fa__authform .btnplarge,
#fa__authform .btnpsmall {
    background: #fff;
    border: solid 2px #aaa;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #ccc;
    margin: 3px 4px;
    vertical-align: middle;
}

#fa__authform .btnplarge:hover,
#fa__authform .btnpsmall:hover {
    border: solid 2px #888;
    border-radius: 5px;
    box-shadow: none;
    margin: 5px 2px 1px 6px;
}

#fa__authform #axwrap__openid p,
#fa__authform #axwrap__enterlogin p {
    margin: 1em 0 0.5em;
}

#fa__authform #axwrap__enterlogin fieldset {
    margin-left: 60px;
}

#fa__authform .manualoid {
    margin: auto 5px;
    vertical-align: middle;
}

#fa__authform .button {
    margin: 1px 5px;
}

#fa__authform .selected {
    border: solid 3px #00ff21;
    margin: 2px 3px;
}

#dw__login {
    text-align: left;
}

#dw__login fieldset {
    margin-bottom: 1em;
}

#dw__login fieldset, #dw__login p {
    margin-left: 20px;
}
